
h1{ text-align: center;
    color: orangered; /*style for title*/
}
video{
    width: 19.5cm;
    height: 10cm;
    margin-left: 10cm;/*video adjustment and style*/
}
body{
    background-image:url("https://jumbotech.net/wp-content/uploads/2016/03/7-Best-Pattern-of-Background-Images-for-Websites-1-Dark-Wood-300x188.jpg")
      /*full body background i*/ 
}
button{
    color: rgb(198, 240, 14);
    border: darkorange;
    border: solid ;   /* style for button*/
}
.motto{
    color: darkturquoise; /*color for motto*/
}
.input{
    background-color: rgb(239, 255, 182);/*style for button*/
    
}
.notes ,.memberships{

    color: rgb(0, 217, 255);/*style for orderd list*/
}
.note , .membership{
    color: rgb(7, 250, 47);/*listed tems style*/
}